// Fonts are below
$inter_font: "Inter",
sans-serif;
// Colors are below
$clr_white: #ffffff;
$clr_black: #000000;
$clr_111111: #111111;
$clr_F4F4F5: #f4f4f5;
$clr_2A2631: #2a2631;
$clr_FFC714: #ffc714;
$clr_4D91DA: #4d91da;
$clr_2A2631: #2a2631;